* {
  color: #4E5079;
  font-weight: 200;
  font-family: 'Work Sans',Helvetica,Arial,sans-serif;
}

body{
  background-color: #f6f9fc !important;
  font-size: 1.3em;
  line-height: 40px;
}

svg {
  height: auto;
  width: 200px
}

#logo svg{
  width: 114px
}

/* hero container */
.hero-container {
  background-image: url('./computer.jpg');
  background-position: 100% 67%;
  background-size: cover;
  font-weight: 600 !important;
  position: relative;
}

.layer {
  background-color: rgb(0 0 0 / 20%);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

ul{
  list-style: none
}

a{
 text-decoration: none;
 color: #5d5d5d;
}
.nav{
 padding: 2em 0 .5em;
}

.nav-sections {
  font-size: 2rem;
}

.nav a{
 transition: all .2s ease-in-out;
}

.header-content, .social-container {
  max-width: 1000px;
}

.status p{
 font-family: 'Coda';
 font-size: 25px;
 letter-spacing: 2px;
 text-transform: uppercase;
 color: rgb(255 42 42 / 99%);
 font-weight: bold;
 transition: all .2s ease-in-out;
}

.stack {
  border-radius: 4px;
  border: 2px solid #92eac0;
  padding: 8px;
  margin-right: 10px;
  margin-bottom: 10px;
  font-size: .85em;
  color: #525f7f;
}

.project {
  padding: 60px;
  width: 50%;
}

.project-background {
  position: absolute;
  top: -1px;
  right: -1px;
  height: 110%;
  width: 83%;
  background: url('./descarga.svg');
  background-size: cover;
}

.project-card {
  position: relative;
  margin-bottom: 60px;
  background-color: #fff;
  border-radius: 4px;
  box-shadow: 0 50px 100px rgba(50,50,93,.05), 0 15px 35px rgba(50,50,93,.1), 0 5px 15px rgba(0,0,0,.1);
  overflow: hidden;
}

.project-image{
  width: 80%;
  position: absolute!important;
  top: 0;
  left: 0;
}

.project-content {
  padding: 60px;
  width: 60%;
  z-index: 2;
  background-color: #fff;
}

.project-link {
  border-radius: 5px;
  margin-right: 20px;
  margin-top: 20px;
  display: inline-block;
  background-color: #5865DA;
  color: #fff;
  line-height: 40px;
  padding: 0 14px;
  letter-spacing: .025em;
  box-shadow: 0 4px 6px rgba(50,50,93,.11), 0 1px 3px rgba(0,0,0,.08);
  transition: all .15s ease;
  text-decoration: none;
  font-weight: 700;
}

.external-links > a i {
  background-color: transparent;
  color: #fff;
}

.project-link.secondary i {
  color: #5865DA;
} 

.project-link:hover {
  background: #5865DA;
  color: #fff;
  transform: translateY(-1px);
  box-shadow: 0 7px 14px rgba(50,50,93,.1), 0 3px 6px rgba(0,0,0,.08);
}

.project-link.secondary:hover{
  background: #fff;
  color: #5865DA;
}

.project h2 {
  font-weight: 500;
  font-size: 1.8em;
  line-height: 38px;
  color: #525f7f;
  margin-top: 0;
  margin-bottom: 35px;
}

.project p {
  margin-bottom: 30px;
  line-height: 27px;
  color: #525f7f;
}

.project-link.secondary {
  color: #5865DA;
  background: #fff;
}

.status p:hover{
 transform: translateY(-2px)
}

.logo-letter{
 opacity: 1;
 fill: #fff;
}

.logo-shadow{
 transform-origin: 10% 10%;
 transform: scale(0);
 opacity: 0;
 fill: #60d5b9;
}

.logo-circle{
 animation-name: bubble;
 animation-duration: .6s;
 animation-timing-function: cubic-bezier(.64,.57,.67,1.53);
}

.discord-logo{
 position: relative;
 top: -10px;
}

.intro{
 line-height: 68px;
 font-size: 2.8rem;
 position: relative;
}

.intro h1{
 margin-top: 1.25em;
 margin-bottom: 0.5em;
 line-height: 68px;
 font-size: 2.5rem;
 max-width: 840px;
 color: #000;
 font-weight: 600;
}

.intro .custom-text {
  color: #fe2c2c;
  font-weight: 600;
}

.top-social-links {
  margin-bottom: 2em;
}

.top-social-links i {
  color: #1d1d1d
}

.top-social-links p {
  letter-spacing: 2px;
  text-transform: uppercase;
  font-size: 0.9rem;
  font-weight: 400;
}

.custom-text{
  color: #7510F7;
  transition: .1s ease-in-out;
  text-decoration: none;
}

.contact-me .custom-text:hover {
  color: #7510F7;
}

.custom-text:hover{
  opacity: .9;
}

.status h3{
 margin-bottom: 1em;
 letter-spacing: 2px;
 text-transform: uppercase;
 font-size: 0.9rem;
 font-weight: 400;
 color: #c35151;
}

.status svg{
 fill: #5d5d5d;
}

.nav-menu-item{
 color: #fff;
}

.nav-menu-item:hover{
 color: #29c6b2;
}

.projects{
 margin: 0 auto;
 padding-top: 8em;
 padding-bottom: 8em;
 padding-left: 15px;
 padding-right: 15px;
 max-width: 1030px;
}

/* copyright */
.copyright {
  margin-top: 80px;
  text-align: center;
  font-size: .8em;
  padding-bottom: 50px;
}

aside .secondary-header{
 width: 90%
}

/* work title */
#work {
  margin-bottom: 80px;
}

#work::after {
  content: " ";
  border: 4px solid #747fe0;
  display: block;
  margin: 0 auto;
  margin-top: 30px;
  width: 50px;
}
.work-items{
 padding: 0;
 margin: 0;
}
.work-items li{
 padding-right: 5%;
 padding-left: 5%;
 padding-top: 18px;
 padding-bottom: 20px;
 border-bottom: 1px solid #dadada;
 transition: all .3s ease;
}

.work-items li:hover{
 transform: translateY(-3px);
    border-color: transparent;
}

.projects-container {
  padding: 0 15px;
}

.projects-container .title-container{
 padding: 25px;
}

.projects-container .title-container h4{
 text-align: center;
}

.projects-container a, aside a, .projects-container a:hover{
 text-decoration: none;
}
.projects-container a:hover, aside a:hover{
 text-decoration: none
}

aside{
 padding: 8em 0;
}

aside li:hover{
 background-color: #29c6b2;
}

aside li:hover a, aside li:hover .work-title{
 color: #fff;
}

.img-container img{
 height: 190px;
 width: 100%;
}

.social-network ul li, .top-social-links ul li{
  transition: all .3s ease;
}

.social-network ul li:hover, .top-social-links ul li:hover{
  transform: translateY(-3px);
}

.contact-me h2{
 font-size: 2.2rem;
 margin-bottom: 80px;
}

.social-network a{
 color: #5d5d5d;
 transition: color .25s ease;
 letter-spacing: 2px;
}

.social-network a:hover{
 color: #29c6b2;
 letter-spacing: 2px;
 text-decoration: none;
}

.project {
 border-radius: 5px;
 box-shadow: 0 1px 3px rgba(0,0,0,0.03), 0 1px 2px rgba(51,51,51,.24);
  transition: all 0.3s cubic-bezier(.25,.8,.25,1);
}

.project:hover {
  box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}

.project article {
 height: 100%;
 display: flex;
 flex-direction: column;
 justify-content: space-between;
}

.project article h2{
 padding: 5% 5% 2% 5%;
 height: 100%
}
.links {
 background-color: #fff;
 padding: 10px 0
}
.links a:first-child:hover .fa-github{
 color: #3295d5
}

.links a:last-child:hover .fa-heart{
 color: red
}

.links {
 margin-top: 20px
}

@keyframes bubble{
  0% { transform: scale(.5); }
 65% { transform: scale(1.15); }
 70% { transform: scale(1.1); }
 80% { transform: scale(1); }
 85% { transform: scale(1.05); }
 90% { transform: scale(1); }
 100% { transform: scale(1); }
}

@media (max-width: 1200px) {
  .project-content {
    width: 100%;
  }
}

@media (max-width: 576px) {
  .contact-me h2 a {
    display: block;
  }
}